html,
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  width: 336px;
}
h1 {
  background-color: #369;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  text-align: center;
}
.row {
  height: 32px;
}
.history {
  margin-top: 16px;
}
.history > .row {
  height: 64px;
  margin-top: 4px;
}
.guess {
  height: 64px;
  margin-top: 4px;
}
.col {
  float: left;
  width: 64px;
}
.col:not(:last-child) {
  margin-right: 4px;
}
.letter {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
  text-transform: uppercase;
}
.controls {
  margin-top: 2px;
}
.control {
  cursor: pointer;
  float: left;
  height: 20px;
  width: 20px;
}
.control:not(:last-child) {
  margin-right: 2px;
}
.green {
  background-color: #538d4e;
}
.control.green:hover {
  background-color: #695;
}
.yellow {
  background-color: #b59f3b;
}
.control.yellow:hover {
  background-color: #ca4;
}
.gray {
  background-color: #787c7e;
}
.control.gray:hover {
  background-color: #888;
}
.next-row,
.replace-row {
  margin-top: 20px;
}
.button {
  background-color: #d3d6da;
  border-radius: 3px;
  color: #1a1a1b;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
}
.replace {
  background-color: #e3e6ea;
  border-radius: 3px;
  color: #3a3a3b;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  padding: 5px 10px;
}
