html, body {
  margin: 0;
  padding: 0;
}
.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 380px;
}
h1 {
  margin: 0;
}
.row {
  height: 32px;
  margin: 0 auto;
  width: 336px;
}
.history {
  margin-top: 16px;
}
.history > .row {
  margin-top: 4px;
  height: 64px;
}
.guess {
  margin-top: 4px;
  height: 64px;
}
.col {
  float: left;
  width: 64px;
}
.col:not(:last-child) {
  margin-right: 4px;
}
.letter {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
  text-transform: uppercase;
}
.controls {
  margin-top: 2px;
}
.control {
  cursor: pointer;
  float: left;
  height: 20px;
  width: 20px;
}
.control:not(:last-child) {
  margin-right: 2px;
}
.green {
  background-color: #538d4e;
}
.control.green:hover {
  background-color: #695;
}
.yellow {
  background-color: #b59f3b;
}
.control.yellow:hover {
  background-color: #ca4;
}
.gray {
  background-color: #787c7e;
}
.control.gray:hover {
  background-color: #888;
}
.instructions {
  color: #555;
  font-size: 16px;
  margin: 20px 0 0;
}
.next-row {
  margin-top: 20px;
}
.button {
  background-color: #d3d6da;
  border-radius: 4px;
  color: #1a1a1b;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
}
